<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Imdb link:</b>
  <%= @movie.imdb_link %>
</p>

<p>
  <b>Picture url:</b>
  <%= @movie.picture_url %>
</p>

<p>
  <b>Genre:</b>
  <%= @movie.genre %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
